.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) 
    var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    
    border: var(--bs-border-width) solid 
    var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}


@media (max-width:992px){
    .logo-img{
        width: 30px;
        transform: translateY(35px);
    }
    .navbar-brand{
        transform: translateX(25px);
    }
}
