/* Color */

:root{
    --light-blue: #4db1ec;
    --blue: #1665cc;
    --purple: #b47b3f;
    --pink: #ffb2c1;
    --orange: #ff9f67;
    --yellow: #ffd673;
    --light-green: #a2e29b;
    --green: #00a2af;
    --gray: #333;
    --white: #fff;
}


/* General Styling */

html{
    font-size: 100%;
      /* 스무스 스크롤 */
  scroll-behavior: smooth;
}

body{
    color: var(--gray);
    font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* Common */
p{
    line-height: 1.7;
}
img{
    max-width: 100%;
}
h1, h2{
    text-align: center;
}
h2{
    font-size: 3rem;
    margin-bottom: 2rem;
}
a{
    text-decoration: none;
}

/* Layout */
.wrapper{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    /* 상하 좌우 auto의 경우 중앙정렬 */
    padding: 0 1rem;
}

/* header */
header{
    background-color: var(--gray);
    padding: 1rem 0;
    /* 헤더 고정 */
    position: fixed;
    width: 100%;
    z-index: 1;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
}

header a{
    color: var(--white);
    font-size: 1rem;
}

.btn-menu{
    position: absolute;
    top: 12px;
    right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: var(--white);
    padding: 0.5rem 1rem;
    background: var(--gray);
}
.main-nav{
    background: var(--gray);
    width: 0;
    position: absolute;
    z-index: 2;
    top: 50px;
    right: 0;
    overflow: hidden;
    transition: 0.5s;
}
.main-nav li{
    text-align: center;
    margin: 2rem 0;
}
.main-nav a{
    display: block;
}
.main-nav.open-menu{
    width: 100%;
}

/* Hero */
#hero{
    background-color: var(--light-blue);
    background-blend-mode: screen;
    animation: bg-color 24s infinite;
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}
@keyframes bg-color{
    0%{
        background-color: var(--light-blue);
    }
    12.5%{
        background-color: var(--blue);
    }
    25%{
        background-color: var(--purple);
    }
    37.5%{
        background-color: var(--pink);
    }
    50%{
        background-color: var(--orange);
    }
    62.5%{
        background-color: var(--yellow);
    }
    75%{
        background-color: var(--light-green);
    }
    87.5%{
        background-color: var(--green);
    }
    100%{
        background-color: var(--light-blue );
    }
}

#hero h1{
    font-size: 4.5rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
}
.hero-date{
    text-align: center;
    border-top: 3px solid var(--gray);
    border-bottom: 3px solid var(--gray);
    padding: 0.5rem 0;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;

}

/* About */
#about{
    padding: 4rem 1rem;
}

#about h2{
    background: linear-gradient(var(--yellow), var(--orange));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#about p{
    margin-bottom: 2rem;
}

/* NEWS */

#news{
    background-image: linear-gradient(var(--green),var(--blue));
    padding: 7rem 0;
    -webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
    /* 맥용 윈도우용 두가지 작성 시계방향으로 좌표 작성 */
}

#news h2{
    color: var(--gray);
}
.news-table{
    color: var(--gray);
    width: 100%;
}
.news-table tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    /* 행에 대한 색깔 코드 */
}
.news-table td{
    display: block;
    line-height: 1.5;
}
.news-date{
    font-size: 0.875rem;
    padding-top: 1rem;
}
.news-content{
    padding-bottom: 1rem;
}

/* Speakers */
#speakers{
    padding: 4rem 1rem;
}
.speakers-list{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.speakers-text{
    margin-left: 1rem;
}
#speakers h2{
    color: var(--gray);
}

#speakers h3{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

#speakers img {
    border-radius: 50%;
    width: 20%;
}

/* Ticket */
#ticket{
    background-image: linear-gradient(var(--pink),var(--orange));
    padding: 6rem 1rem 2rem;
    -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);

}
#ticket h2{
    color: var(--gray);
}
.ticket-form{
    max-width: 480px;
    margin: 0 auto 5rem;
}
.ticket-form label{
    color: var(--gray);
    display: block;
    margin-bottom: 0.5rem;
}
.ticket-field{
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    width: 100%;
    margin-bottom: 1.5rem;
}
.ticket-btn{
    background: var(--gray);
    color: var(--white);
    display: block;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10vw;
    /* vw : 10% 의미 */
}

/* Footer */

.footer{
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    padding-top: 2rem;
    text-align: center;
    font-size: 0.875rem;
    color: var(--gray);

}
.footer a{
    text-decoration: none;
}




/* Desktop Size */
@media (min-width: 600px) {
    /* common */
    h2{
        font-size: 3rem;
        letter-spacing: 10px;
    }

    /* header */
    .btn-menu{
        display: none;
    }
    .main-nav{
        width: 100%;
        display: flex;
    }
    .main-nav li{
        margin: 0 0 0 1.5rem;
        /* 왼쪽으로 여백을 주었다. 순서대로 12,3,6,9시 방향 */
    }
    
    /* Hero */
    #hero h1{
        font-size: 6.875rem;
    }
    #hero-date{
        font-size: 3rem;
    }

    /* News */
    .news-table td{
        display: table-cell;
    }
    .news-date{
        padding: 1.125rem 0 1rem 1rem;
    }
    .news-content{
        padding: 1rem 1rem 1rem 0;
    }

    /* Speakers */
    #speakers h2{
        margin-bottom: 4rem;
    }
    .speakers-list{
        margin-bottom: 3rem;
    }
    .speakers-text{
        margin-left: 2rem;
    }

}








